<a href="https://colab.research.google.com/github/git-siddhesh/Data_Science-dataprocessing-/blob/Data_processing/pandasInClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

#reading data from csv file
df=pd.read_csv('com.csv')
#df2=pd.read_csv('http://13.234.66.67/summer19/datasets/salary.csv')
#df2    #to print the complete data 
df

#to print the information of the data
#df.info()

In [0]:
#to print particular coloumn
df['Name']
#to print the values of the name as array
df['Name'].values

In [0]:
#top 3v rows 

#df2.head(3)
df.tail(3)

In [0]:
#for selecting particular rows and column
df.iloc[0:,[0,2]]

In [0]:
#to know the things you can do with df['Salary']
dir(df['Salary'])

In [0]:
#to print max() or min(),avg(),mean() salary 
df['Salary'].mean()

In [0]:
df.values
#data in the rows and columns are just set of lists of same size

#practice on pandas

*Converting dict. to df*

In [0]:
# importing PANDAS library
import pandas as pd

#make a dict. of data
weather_data={
    'day':['1/2/2018','5/3/2018','9/4/2018','14/5/2018','1/2/2018'],
    'temp':[32,36,39,42,41]
}

# now convert this dict. to dataframe as
df=pd.DataFrame(weather_data)
df

         day  temp
0   1/2/2018    32
1   5/3/2018    36
2   9/4/2018    39
3  14/5/2018    42
4   1/2/2018    41

*Verifying some of the function with df*

In [0]:
# df.shape returns two values 
r,c = df.shape
#first value is no of rows and 2nd value is no of cols

df.dtypes
# print the datatype of each cols and of complete dataframe 

# to print particular rows from top or bottom 
df.head(2)   # It will print top 2 rows
df.tail(2)   # It will print bottom 2 rows

# print a range of rows
df[1:3]      # It will print 3-1=2 rows [1,3)


# If we want to print Index name of cols
df.columns

# if we want to print or extract the data of a particular col
df.day

# We can convert the col data into ndarray as
import numpy as np
a=np.asarray(df.day)    
a

# To describe the df properties such as count, mean, 50%, 25%, etc in a row
df.describe()
# .min(), .max(), .avg(), .mean(), .std(), .var(), etc


# To print the index nos start, stop, and step size
df.index

RangeIndex(start=0, stop=5, step=1)

*Change the index col  and  condition on col*

In [0]:
df.set_index('day',inplace=True)
df
df.reset_index(inplace=True)

Very very important (this error is to attract you)
# If we want to apply some condition on any col
# Note that it will print the entire row
df[df.temp>35]
# to print particular col(s)
df[['day','temp']][df.temp==df['temp'].max()]

SyntaxError: ignored

*Slicing of dataframe*