<a href="https://colab.research.google.com/github/git-siddhesh/Data_Science-dataprocessing-/blob/supervisedML/RandomForest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
df=pd.read_csv('http://13.234.66.67/summer19/datasets/social.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.7+ KB

In [0]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [0]:
filterdata=df.iloc[0:,2:].values

In [0]:
features=filterdata[0:,0:2]
label=filterdata[0:,2]

In [0]:
from sklearn.model_selection import train_test_split
X,x,Y,y=train_test_split(features,label,test_size=0.2)

In [0]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

# 'X' is traindata which will be feature scale fit and transform 
X=sc.fit_transform(X)
# tsting data scaling only fit 
x=sc.transform(x)

In [0]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble  import RandomForestClassifier
rclf=RandomForestClassifier(n_estimators=20)  #default value is 10
trained=rclf.fit(X,Y)
predicted=trained.predict(x)

In [0]:
from sklearn.